{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/service/service_list.css') }}">
    <script src="{{ url_for('static', filename='js/services.js') }}" defer></script>
{% endblock %}

{% block content %}

<section class="page-header">
    <h1>Available Services</h1>
    <p>Browse local services and choose the one you need.</p>
</section>

<section class="search-bar">
    <form action="{{ url_for('services.list_services_with_filters') }}" method="post">
        
        <input
            type="hidden"
            name="csrf_token"
            value="{{ csrf_token() }}"
        >
        
        <input
            type="text"
            name="search"
            id="search-input"
            value="{{ search_query or '' }}"
            placeholder="Search services..."
        >
        <button type="submit">Search</button>
    </form>
</section>

<section class="filter-bar">
    <form action="{{ url_for('services.list_services_with_filters') }}" method="post">
        
        <input
            type="hidden"
            name="csrf_token"
            value="{{ csrf_token() }}"
        >

        <label for="category">Filter by Category:</label>
        <select
            name="category"
            id="category"
            data-selected-category="{{ selected_category or '' }}"
        >
            <option value=""  {% if selected_category == '' %}selected{% endif %} >All Categories</option>
            {% for category in categories %}
                <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>
                    {{ category }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Apply Filter</button>
    </form>
</section>

<section class="services-list">
    {% if services %}
        {% for service in services %}
            <article class="service-card">
                <img src="{{ url_for('static', filename='images/services/' + service.image_filename) }}" alt="{{ service.name }} Image">
                <div>
                    <h2>{{ service.name }}</h2>
                    <p>{{ service.description }}</p>

                    <div class="service-meta">
                        <span>{{ service.category }}</span>
                        <span>{{ service.duration_minutes }} minutes</span>
                        <span>{{ service.price }} EGP</span>
                    </div>
                </div>

                <a href="{{ url_for('services.show_service_details', service_id=service.id) }}" class="primary-btn">
                    View Details
                </a>
            </article>
        {% endfor %}
    {% else %}
        <div class="empty-state">
            <h2>No services available yet</h2>
            <p>Services will appear here when providers add them.</p>
        </div>
    {% endif %}
</section>

{% endblock %}